<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-4d6231eb-bdc6-4fec-8b7f-27a2f3578b39</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>4d6231eb-bdc6-4fec-8b7f-27a2f3578b39</wdId>
      <tags>UnixApp</tags>
      <dirName>./work/UnixApp-1.*/**</dirName>
      <hosts></hosts>
      <filePattern>*.out,*.err</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>false</grokDiscovery>
      <fieldDiscovery>false</fieldDiscovery>
      <systemFieldsEnabled>false</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,2,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
